node_modules/
dist/
*.class
*.py[cod]
*.log
*.diff
*.jar
target/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
kubeslice-netops
### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
